@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
  font-family: "Outfit";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
  font-family: "PlusJakartaSans";
  font-weight: 400;
  font-display: swap;
}

@keyframes fadein {
  to {
    position: fixed;
    right: 12px;
    left: 12px;
    padding-left: 1%;
    padding-right: 2%;
    max-width: 100%;

    /* width: min(calc(100% - 1.5rem), 1294px); */
    /* overflow-x: hidden; */
    background-color: #111828;
    z-index: 100;
  }
}
.fadein-up {
  animation: fadein-up ease forwards;
  animation-timeline: view();
  animation-range: entry entry 400px;
}

@keyframes fadein-up {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
