@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
  font-family: "Outfit";
  font-weight: 400;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
  font-family: "PlusJakartaSans";
  font-weight: 400;
}

@keyframes fadein {
  to {
    position: fixed;
    display: flex;
    justify-content: space-between;
    /*     width: min(1294px, 98%);
 */
    width: min(calc(100% - 1.5rem), 1294px);

    /* display: grid;
    grid-template-columns: minmax(0, 1294px); */

    background-color: #111828;
    z-index: 100;
  }
}
/* @keyframes fadein-header {
  to {
    
    grid-column: 2 / 3;
    width: min(calc(100% - 1.5rem), 1294px);

  }
}
 */
